/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

header {
    background-color: #ffffff;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex: 1;
    list-style-type: none;
}


#menu li a {
    padding: 0 1rem;
    text-decoration: none;
}

#centerlogo {
    flex: 2;
    display: flex;
    margin-right: 20%;
    justify-content: flex-end;
}



h1#logo a {
    color: #252525;
    display: inline-flex;
    text-decoration: none;


}

/* Responsive layout for smaller screens (optional) */

@media (max-width: 768px) {

    /* Change breakpoint as needed */
    header {
        flex-direction: column;
        align-items: center;
    }

    #menu {
        flex-direction: column;
        justify-content: center;
        margin-top: 1rem;
    }

    ul#menu {
        padding: 0;

    }

    #centerlogo {
        display: flex;
        margin-right: 0;
        justify-content: center;
    }
}

/*Main*/
main {
    background-color: beige;
    /*Code to drop footer to the bottom*/
    flex: 1 0 auto;
    margin-top: 47px;
    display: flex;
    flex-direction: column;
}

#hero {
    height: 600px;
    width: 100%;
    background: url("../images/hero.jpg") no-repeat center center/cover;
    position: relative;
    box-shadow: 0 2px 2px #3a3a3a;
}


/*About us section*/
#about-us {
    height: 600px;
    width: 100%;
    background: url("../images/about.jpg") no-repeat center center/cover;
    position: relative;
}

/*About us Text */
#cover-text {
    background-color: rgba(253, 253, 253, 0.7);
    font-size: 130%;
    position: absolute;
    bottom: 60px;
    top: 40px;
    text-align: center;
    width: 40%;
    margin-left: 10%;
}

/*Footer*/
footer {
    background-color: bisque;
}