/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

/* Header */
header {
    background-color: #ffffff;
    text-align: center;
    padding: 0 1rem;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header h1#logo {
    text-align: center;
}

h1#logo a {
    color: #252525;
    display: inline-flex;
    text-decoration: none;
}

/*Main*/
main {
    background-color: beige;
    /*Code to drop footer to the bottom*/
    flex: 1 0 auto;
    margin-top: 47px;
    display: flex;
    flex-direction: column;
}

#hero {
    height: 600px;
    width: 100%;
    background: url("../images/hero.jpg") no-repeat center center/cover;
    position: relative;
}


/*Footer*/
footer {
    background-color: bisque;
}